<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>View Clients</h3>
        <ul>
          {{#each clients}}
            <li>
              <p><span class="label">Name:</span> {{this.name}}</p>
              <p><span class="label">Follow Up on:</span> {{this.followUp}}</p>

              <button data-id="{{this.id}}" class="viewClient">View</button>

              <button data-id="{{this.id}}" class="deleteClient">Delete</button>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Create New Client</h3>
      </div>
    </div>
      <form class="create-form">
        <div class="row">
          <div class="col-3 col-sm-3">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name">
            </div>
          </div>
          <div class="col-3 col-sm-3">
            <div class="form-group">
              <label for="phone">Phone Number:</label>
              <input type="text" id="phone" name="phone">
            </div>
          </div>
          <div class="col-3 col-sm-3">
            <div class="form-group">
              <label for="make">Make:</label>
              <input type="text" id="make" name="make">
            </div>
          </div>
          <div class="col-3 col-sm-3">
            <div class="form-group">
              <label for="model">Model:</label>
              <input type="text" id="model" name="model">
            </div>
          </div>
          <div class="col-3 col-sm-3">
            <div class="form-group">
              <label for="color">Color:</label>
              <input type="text" id="color" name="color">
            </div>
          </div>
          <div class="col-3 col-sm-3">
            <div class="form-group">
              <label for="quote">Quote:</label>
              <input type="text" id="quote" name="quote">
            </div>
          </div>
          <div class="col-3 col-sm-3">
            <div class="form-group">
              <label for="followUp">Follow Up:</label>
              <input type="text" id="followUp" name="followUp">
            </div>
          </div>
          <button type="submit">Add Client</button>
        </div>
      </form>
  </div>